// Variables
$bg_color: #efefef;
$contrast_bg: #107acc;
$letter_color: #377d6a;
$transition: all 0.5s ease-in-out;
$input-height: 50px;
$primary-color: #107acc;
$border-color: #dddddd;

.input_container {
    margin-bottom: 40px;
    position: relative;
    width: 100%;
    p{
      display: none;
    }
    label {
        display: block;
        position: absolute;
        top: 0;
        // to keep the position center
        line-height: $input-height;
        color: #aaa;
        left: 5px;
        padding: 0 5px;
        transition: line-height 200ms ease-in-out,
            font-size 200ms ease-in-out, 
            top 200ms ease-in-out;
        // firefox fix
        pointer-events: none;
    }
    input {
        width: 99%;
        height: $input-height;
        border: 1px solid $border-color;
        border-radius: 3px;
        padding: 0 10px;
	font-size: 16px;
        // there must a required prop in input
        // &:valid,
        // need to add placeholder
        &:not(:placeholder-shown),
        &:focus {
            + label {
                background-color: white;
                line-height: 10px;
                opacity: 1;
                font-size: 10px;
                top: -5px;
            }
        }
        &:focus {
            outline: none;
            border: 1px solid $primary-color;
            + label {
                color: $primary-color;
            }
        }
    }
}

.notValid{
  p{
    color: red;
    font-size: 12px;
    margin-left: 5px;
    display: block;
  }
  label{
    color:red;
  }
  input {
    border: 1px solid red;
    &:focus{
      border: 1px solid red;
    }
  }
}
