$success: #5ccb5f;
$danger: #ff0000;
$primary: #0979b0;
$transition: all .4s ease-in-out;
$login: #107acc;

.button{ 
  width: 100%;
  transition: $transition;
  cursor: pointer;
}

.success{
  width: 100%;
  background: $success;
  border: none;
  outline: none;
  padding: 10px 0 10px 0; 
  border-radius: 10px;
  span{
    color: white;
    font-size: 15px;
  }
  svg{
    color: white;
    font-size: 20px;
    transform: translateY(5px);
    margin-left: 3px;
  }
  &:hover{
    background-color: white;
    border: 1px solid;
    border-color: $success;
  }
  &:hover span, &:hover svg{
    color: $success;
  }
}

.primary{
  width: 100%;
  background: $primary;
  border: none;
  outline: none;
  padding: 10px 0 10px 0; 
  border-radius: 10px;
  span{
    color: white;
    font-size: 15px;
  }
  svg{
    color: white;
    font-size: 20px;
    transform: translateY(5px);
    margin-left: 3px;
  }
  &:hover{
    background-color: white;
    border: 1px solid;
    border-color: $primary;
  }
  &:hover span, &:hover svg{
    color: $primary;
  }
}

.danger{
  width: 100%;
  background: $danger;
  border: none;
  outline: none;
  padding: 10px 0 10px 0; 
  border-radius: 10px;
  span{
    color: white;
    font-size: 15px;
  }
  svg{
    color: white;
    font-size: 20px;
    transform: translateY(5px);
    margin-left: 3px;
  }
  &:hover{
    background-color: white;
    border: 1px solid;
    border-color: $danger;
  }
  &:hover span, &:hover svg{
    color: $danger;
  }
}
.signin{
  width: 103%; 
  background: $login;
  border: none;
  outline: none;
  padding: 20px 0 20px 0;
  border-radius: 10px;
  span{
    font-size: 20px;
    color: white;
  }
  svg{
    font-size: 30px;
    color:white;
    margin-left: 10px;
    transform: translateY(7px);
  }
  &:hover{
    background: white;
    border: 1px solid;
    border-color: $login;
  }
  &:hover span, &:hover svg{
    color: $login;
  }
}

.logout{
  width: 45px;
  height: 45px;
  position: fixed;
  float: right;
  bottom: 103px;
  right: 3px;
  background: $danger;
  border: none;
  outline: none;
  border-radius: 50%;
  box-shadow: 0 0 10px 10px rgba($color: #000000, $alpha: 0.1);
  svg{
    font-size: 30px;
    color: white;
  }
  &:hover{
    background: white;
    border: 1px solid;
    border-color: $danger;
  }
  &:hover svg{
    color: $danger;
  }
}

.add{
  width: 45px;
  height: 45px;
  position: fixed;
  bottom: 103px;
  left: 3px;
  background: $success;
  border: none;
  outline: none;
  border-radius: 50%;
  box-shadow: 0 0 10px 10px rgba($color: #000000, $alpha: 0.1); 
  svg{
    font-size: 30px;
    color: white;
  }
  &:hover{
    background: white;
    border: 1px solid;
    border-color: $success;
  }
  &:hover svg{
    color: $success;
  }
}
