$bg_base:#dfe0ea;
$number_bg: #f2f3f7;
$btn_bg: #107acc;
$btn_warning: #ffc340;


@mixin list_container{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0 0 190px 0;
  background-color: $bg_base;
  transform: translateY(90px);
}


.list{
  @include list_container();
}

.list_item{
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 0.5px solid;
  border-color: gray;
  .list_number{
    width: 15%;  
    text-align: center;
    border-right: 1px solid gray;
    height: 100px;
    h1{
      font-size: 250%;
      margin-top: 25px;
    }
  }
  .list_info{
    width: 70%;
    h4{
      text-align: center;
      width: 95%;
      margin: 0 0 7px 2.5%;
    }
    p{
      text-align: justify;
      width: 95%;
      margin: 0 0 0 2.5%;
    }
  }
  .list_btn{
    width: 15%;
    padding: 0;
    button{
      width: 100%;
      height: 100px;
      cursor: pointer;
      border:none;
      outline: none;
      background: $btn_bg;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: ease-in-out all .5s;
      svg{
	font-size: 25px;
	color: white;
	margin-top: 25px;
      }
      span{
	font-size: 10px;
	color: white;
      }
      &:hover{
	background: white;
      }
      &:hover svg, &:hover span{
	color: $btn_bg;
      }
      
    }
  }  
}
.student_item{
  width: 100%;
  border-bottom: 1px solid grey;
  display: flex;
  flex-direction: row;
  .index{
    width: 10%;
    text-align: center;
    border-right: 1px solid grey;
    h4{
      margin-top: 20px;
    }
  }
  .student_info{
    width: 70%;
    text-align: center;
    p, h4{
      margin-top: 10px;
    }
  }
  .student_btn{
    display: flex;
    flex-direction: column;
    width: 20%;
    button{
      width: 100%;
      height: 50%;
      cursor: pointer;
    }
  }
}
.create_container{
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 0 190px 0;
  transform: translateY(90px);
  .slider_container{
    width: 200%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    transition: all .5s ease-in-out;
  }
  .step{
    transform: translateX(-50%);
  }
  .slider_item{
    width: 100%;
    height: 100%;
    .item_header{
      width: 100%;
      margin: 20px 0 50px 0;
      h4{
	text-align: center;
	margin: 0 0 10px 0;
      }
      p{
	text-align: justify;
	width: 80%;
	margin: 0 0 10px 10%;
      }
    }
    .item_body{
      width: 95%;
      margin: 0 0 20px 0.5%;
    }
    .item_footer{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 0 0 20px 0;
      .f_left{
	width: 40%;
      }
      .f_right{
	width: 40%;
	margin-left: 10%;
      }
    }
  }
  .student{
    height: 0;
    overflow: hidden;
  }
}
.table_item{
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  border-top: 1px solid;
  border-color: gray;
  margin: 0 0 10px 0;
  .table_index{
    width: 10%;
    text-align: center;
  }
  .table_name{
    width: 70%;
    text-align: center;
    h4{
      transform: translateY(10px);
    }
  }
  .table_btn{
    width: 20%;
    margin-top: 5px;
  }
}

.warning, .primary{
  border: none;
  outline: none;
  transition: all .5s ease-in-out;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  svg{
    color: white;
  }
  span{
    color: white;
  }

}

.warning{
  background-color: $btn_warning;
  &:hover{
    background-color: white;
    border: 0.5px solid $btn_warning;
  }
  &:hover svg, &:hover span{
    color: $btn_warning;
  }
}

.primary{
  background-color: $btn_bg;
  &:hover{
    background-color: white;
    border: 0.5px solid $btn_bg;
  }
  &:hover svg, &:hover span{
    color: $btn_bg;
  }
}

.container{
  width: 95%;
  height: 100%;
  overflow: hidden;
  margin: 0 0 190px 2.5%;
  transform: translateY(90px);
  padding-top: 45px;
  .container_btn{
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .c_left{
      width: 40%;
    }
    .c_rigth{
      width: 40%;
      margin-left: 10%;
    }
  }
}
