$btn_bg: #107acc;
$transition: all 0.5s ease-in-out;

.container{
  width: 100%;
  height: 100%;
  margin-bottom: 150px;
  .card_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .card{
      width: 95%;
      margin: 20px 0 0 2.5%; 
      box-shadow: 0 0 10px 10px rgba($color: #000000, $alpha: 0.2);
      border-radius: 10px;
      padding: 5px 0 0 0;
      text-align: center;
    }
    h4, p{
      text-align: center;
      margin: 0 0 20px 0;
    }
    svg{
      font-size: 70px;
      color: $btn_bg;
    }
    button{
      width: 100%;
      padding: 20px 0 20px 0;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border: none;
      outline: none;
      cursor:pointer;
      background: $btn_bg;
      color: white;
      font-size: 20px;
      font-weight: bold;
      transition: $transition;
      &:hover{
	color: $btn_bg;
	background-color: white;
	border: 2px solid;
	border-color: $btn_bg;
      }
    }
  }
}
