$top_bg: #efefef;
$hover_bt: #0979b0;
$transition: all 0.5s ease-in-out;
$nav_bg: #107acc;

.top_var{
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  overflow: hidden;
  background: rgba($color: $top_bg, $alpha: 1.0);
  z-index: 1;
  position: fixed;
  img{
    width: 90px;
  }
}

.hide{
  display: none;
}

.principal{

  .navigation{
    width: 100%; 
    height: 100px;
    margin: 30px 0 0 0;
    background-color: $nav_bg;
    padding: 0px;
    bottom: 0;
    position: fixed;
    ul{
      width: 100%; 
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    li{ 
      list-style: none;
      width: 100%;
      height:100px;
      justify-content: center center; 
    } 
    a{
      text-decoration: none; 
      width: 17%; 
      height: 100px;
    }
    button{
      display: flex;
      flex-direction: column;
      width: 100%; 
      height: 100px;
      background-color: transparent;
      outline: none;
      border: none;
      color: white;
      cursor: pointer;
      transition: $transition;
      padding-top: 30px;
      align-items: center;
      svg{
	font-size:200%;	
      }
      span{
	font-size:75%;
      }
    }
    .activate{	
        background: white;
      }
    .activate span{
      color: $nav_bg;
    }
    .activate svg{
      color: $nav_bg;
    }
   }
}
